<!DOCTYPE html>
<html>
<head>
  <title>Title Page</title>
</head>
<body>
  <h1 align="center">It Totally Works!</h1>
  <h2 align="center"><?php echo gethostname(); ?></h2>
  <?php phpinfo(); ?>
</body>
</html>